:root {
    --text-color:#101828;
    --hover-text-color:#F2F4F7;
    --borders-color:#D0D5DD;
    --primary-color:#6BA8E6;
    --secondary-color:#F0F8FF;
}
.App.Dark {
    --text-color:#F2F4F7;
    --hover-text-color:#101828;
    --borders-color:#D0D5DD;
    --primary-color:#C6DEFF;
    --secondary-color:#101828;
}